[core]
        editor = vim
[user]
          name = "Evan Bowling"
         email = "evan.j.bowling@gmail.com"
    signingkey = "<TODO>" 
[gpg]
       program = gpg

[alias]
        c = commit
        d = diff
        dc = diff --cached
        dsc = diff --stat --cached
        s = status
        lg  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        lgb = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --first-parent
[push]
        default = simple
